<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/auth/login" method="post">
        <input type="text" placeholder="email" name="email">
        <input type="password" placeholder="password" name="password">
        <input type="submit" placeholder="Submit">
    </form>
    <br>
    <form action="/auth/forgot_pass" method="GET">
        <button type="submit">Forgot Password?</button>
    </form>

    <form action="/auth/google" method="GET">
        <button type="submit">Log In by Google</button>
    </form>
    
</body>
</html>